<header class="site-header">
    <div class="header-content">
        <a href="/" class="site-logo">Atekihcan</a>
        <nav class="site-nav">
            <a href="/about" class="site-nav-element">About</a>
            <a href="/blog" class="site-nav-element">Blog</a>
            <a href="/contact" class="site-nav-element">Contact</a>
        </nav>
    </div>
</header>