<header class="site-header">
    <div class="header-content">
        <a href="/" class="site-logo">
            <span class="a2">a</span>
            <span class="t">t</span>
            <span class="e">e</span>
            <span class="k">k</span>
            <span class="i">i</span>
            <span class="h">h</span>
            <span class="c">c</span>
            <span class="a1">a</span>
            <span class="n">n</span></a>
        <nav class="site-nav">
            <a href="/about"><span class="site-nav-element">About</span></a>
            <a href="/blog"><span class="site-nav-element">Blog</span></a>
            <a href="/contact"><span class="site-nav-element">Contact</span></a>
        </nav>
    </div>
</header>