<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/vscode.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    {% include 'meta.njk' %}
    <title>
        {% if title %}
            {{title}} - {{site.title}}
        {% elseif renderData.title %}
            {{renderData.title}} - {{site.title}}
        {% else %}
            {{site.title}}
            {{site.strapline}}
        {%- endif -%}
    </title>
</head>