{% set currentItemIndex = 0 %}

{% for item in collections.post %}
    {% if item.url == page.url %}
        {% set currentItemIndex = loop.index0 %}
    {% endif %}
{% endfor %}

{% set prevItemIndex = currentItemIndex - 1 %}
{% set nextItemIndex = currentItemIndex + 1 %}

<div class="entry-navigation" aria-labelledby="post-navigation">
    <div class="prev">
        {% if prevItemIndex >= 0 %}
            {% set prev = collections.post[prevItemIndex] %}
            <a href="{{ prev.url }}" rel="prev">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a href="{{ prev.url }}" rel="prev">{{ prev.data.title | striptags(true) | truncate(31) }}</a>
        {% endif %}
    </div>
    {% if nextItemIndex < collections.post.length %}
        <div class="next">
            {% set next = collections.post[nextItemIndex] %}
            <a href="{{ next.url }}" rel="next">{{ next.data.title | striptags(true) | truncate(31) }}</a>
            <a href="{{ next.url }}" rel="next">
                <i class="fa fa-chevron-right"></i>
            </a>
        {% endif %}
    </div>

</div>