---
layout: base.njk
category: "null"
permalink: "blog/{{ category | slug }}/{{ title | slug }}/"
---
<article class="entry">
    <header class="entry-header">
        <h1 class="entry-title">{{ title }}</h1>
        {% include 'post-meta.njk' %}
    </header>
    <div class="entry-content">
        {{ content | safe }}
    </div>
    <hr class="fading"/>
    <footer class="entry-footer">
        {% include 'post-nav.njk' %}
    </footer>
    {% include 'comment.njk' %}
</article>